
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

form {
	background: #074F57;
	color: #fff;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 50px auto;
	padding: 30px;
	width: 70%;
	border-radius: 5px;
}

input {
	display: block;
	margin: 15px 0;
	margin-bottom: 30px;
}
